/* Center the content */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  font-size: 28px; /* Larger title font size */
  font-weight: bold;
  margin-bottom: 20px;
}

.title-container {
  display: flex;
  align-items: center;
}

.go-back-button {
  background-color: #3b4201;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 20px; /* Position at the top */
  left: 20px; /* Position at the left */
  transition: background-color 0.3s ease-in-out;
}

.go-back-button:hover {
  background-color: #0056b3; /* Darker color on hover */
}

.flight-card {
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px; /* Smaller padding */
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  position: relative; /* To position the book button */
}

.flight-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.flight-details {
  margin-bottom: 10px; /* Smaller margin */
}

/* Add this new CSS for aligning the details and image */
.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.book-button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 12px 25px; /* Increased padding for bigger button */
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  bottom: 40px; /* Position at the bottom of the card */
  right: 950px; /* Position at the right of the card */
}

.details-right {
  display: flex;
  align-items: flex-start;
}

.hotel-image {
  width: 40%; /* Adjust the width as needed */
  margin-left: 20px; /* Add some spacing between details and image */
  display: flex;
  justify-content: flex-end;
}

.hotel-image img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .go-back-button,
  .book-button {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
    position: static;
  }

  @media (max-width: 1366px) {
    .go-back-button,
    .book-button {
      width: 100%;
      margin-right: 0;
      margin-bottom: 10px;
      position: static;
    }
  }
}
