<!-- About -->
<section class="page-section" id="about">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">About Us</h2>
      <h3 class="section-subheading text-muted">Who Are We?</h3>
    </div>
    <ul class="timeline">
      <li>
        <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../../../assets/img/about/1.jpg" alt="..." /></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4>2023</h4>
            <h4 class="subheading">Travel Agency</h4>
          </div>
          <div class="timeline-body">
            <p class="text-muted">
              We are here to help you plan your next vacation. We provide top-notch services for finding flights to your desired destination, locating suitable accommodations, and even arranging car rentals.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
